<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cálculo de IMC</title>
</head>
<body>
<form action="#" th:action="@{/calcularIMC}" method="post">
    <label for="masaCorporal">Masa Corporal:</label><br>
    <input type="number" id="masaCorporal" name="masaCorporal" step="0.01"><br>
    <input type="submit" value="Calcular">
</form>
<table>
    <tr>
        <th>Fecha</th>
        <th>IMC</th>
    </tr>
    <tr th:each="imc : ${historico}">
        <td th:text="${imc.fecha}"></td>
        <td th:text="${imc.valorImc}"></td>
    </tr>
</table>
</body>
</html>