<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<div th:if="${param.error}">
    <p>Nombre de usuario o contraseña inválidos.</p>
</div>
<form th:action="@{/imcalculator/login}" method="post">
    <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" required="required" />
    <input type="password" name="contrasena" placeholder="Contraseña" required="required" />
    <button type="submit">Iniciar sesión</button>
</form>
<p>No tienes una cuenta? <a th:href="@{/imcalculator/registro}">Regístrate aquí</a></p>
</body>
</html>